html {
  scroll-behavior: smooth;
}

body {
  overflow-x: hidden;
}

.bhromaon {
  width: 100%;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  text-align: center;
  background-image: url("../images/bg1.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 10% 5% 8% 5%;
}

.bhromaon h1 {
  font-family: 'Josefin Sans', sans-serif;
  font-size: 48px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 3px;
  color: #ffffff;
  margin: 0;
}

.bhromaon h4 {
  font-family: 'Josefin Sans', sans-serif;
  font-size: 22px;
  font-weight: 300;
  letter-spacing: 6px;
  color: #ffffff;
}

.bhromaon span {
  font-family: 'Josefin Sans', sans-serif;
  font-size: 14px;
  font-weight: 300;
  letter-spacing: 2px;
  color: #ffffff;
}

.bhromaon form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 42%;
  margin: 4% auto 8% auto;
}

.bhromaon form input {
  background-color: #ffffff;
  border: none;
  font-family: 'Josefin Sans', sans-serif;
  font-size: 20px;
  padding: 8px 140px;
}

.bhromaon form input::-webkit-input-placeholder {
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 2px;
  color: #999999;
}

.bhromaon form input:-ms-input-placeholder {
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 2px;
  color: #999999;
}

.bhromaon form input::-ms-input-placeholder {
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 2px;
  color: #999999;
}

.bhromaon form input::placeholder {
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 2px;
  color: #999999;
}

.bhromaon form button {
  border: 2px solid #ffffff;
  color: #ffffff;
  font-family: 'Aleo', serif;
  text-transform: uppercase;
  letter-spacing: 1px;
  background-color: #5474fd;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.bhromaon form button:hover {
  background-color: #0e3689;
  -webkit-transition: .3s;
  transition: .3s;
}

.information {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #5474fd;
  padding: 1% 5% 1% 12%;
}

.information h2 {
  font-family: 'Josefin Sans', sans-serif;
  font-size: 24px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 2px;
  color: #ffffff;
}

.information nav {
  width: 70%;
  text-align: end;
}

.information nav ul {
  list-style-type: none;
}

.information nav ul li {
  display: inline;
}

.information nav ul li a {
  text-decoration: none;
  font-family: 'Aleo', serif;
  font-size: 14px;
  font-weight: 400;
  text-transform: uppercase;
  color: #ffffff;
  margin: 0 1%;
}

.information .hamburger-menu {
  display: none;
}

@media (max-width: 800px) {
  .information nav {
    display: none;
  }
  .information .hamburger-menu {
    display: block;
  }
}

.information #menu__toggle {
  opacity: 0;
}

.information #menu__toggle:checked ~ .menu__btn > span {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.information #menu__toggle:checked ~ .menu__btn > span::before {
  top: 0;
  -webkit-transform: rotate(0);
          transform: rotate(0);
}

.information #menu__toggle:checked ~ .menu__btn > span::after {
  top: 0;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

.information #menu__toggle:checked ~ .menu__box {
  visibility: visible;
  right: 7%;
  top: 50%;
  width: 28%;
  padding: 5px 2px 5px 2px;
  background-color: #ffffff;
  border-radius: 10px;
}

.information .menu__btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  top: 0%;
  right: 5%;
  width: 26px;
  height: 26px;
  cursor: pointer;
  z-index: 1;
}

.information .menu__btn > span,
.information .menu__btn > span::before,
.information .menu__btn > span::after {
  display: block;
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: #ccc6c6;
  -webkit-transition-duration: .25s;
          transition-duration: .25s;
}

.information .menu__btn > span::before {
  content: '';
  top: -8px;
}

.information .menu__btn > span::after {
  content: '';
  top: 8px;
}

.information .menu__box {
  display: block;
  position: absolute;
  visibility: hidden;
  top: 0;
  width: 300px;
  margin: 0;
  padding: 80px 0;
  list-style: none;
  background-color: #ECEFF1;
  -webkit-box-shadow: 1px 0px 6px rgba(0, 0, 0, 0.2);
          box-shadow: 1px 0px 6px rgba(0, 0, 0, 0.2);
  -webkit-transition-duration: .25s;
          transition-duration: .25s;
}

.information .menu__item {
  display: block;
  padding: 12px 20px;
  color: #333;
  font-family: 'Aleo', serif;
  font-size: 10px;
  font-weight: 400;
  text-decoration: none;
  -webkit-transition-duration: .20s;
          transition-duration: .20s;
}

.information .menu__item:hover {
  background-color: #CFD8DC;
}

.why {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  background-image: url("../images/bg2.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 7% 0% 5% 15%;
}

.why__choose {
  width: 42%;
  margin: 5% 5% 0 0;
}

.why__choose h2 {
  font-family: 'Aleo', serif;
  font-size: 36px;
  font-weight: 400;
  color: #ffffff;
  margin-bottom: 5%;
}

.why__choose p {
  font-family: 'Josefin Sans', sans-serif;
  font-size: 16px;
  line-height: 1.5;
  font-weight: 400;
  letter-spacing: 1px;
  color: #e8e8e8;
  margin-top: 5%;
}

.why__choose a {
  width: 37%;
  background-image: url("../images/button_bg.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-decoration: none;
  font-family: 'Aleo', serif;
  font-size: 16px;
  font-weight: 400;
  text-transform: uppercase;
  color: #ffffff;
  margin-top: 8%;
  padding: 3% 6%;
}

.why__photo {
  width: 35%;
}

.why__photo_first {
  max-width: 100%;
  float: left;
}

.why__photo_second {
  max-width: 100%;
  float: right;
  margin-top: 1%;
}

.select {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  background-color: #333333;
  padding: 5% 5%;
}

.select__places {
  text-align: center;
}

.select__places h2 {
  font-family: 'Aleo', serif;
  font-size: 36px;
  font-weight: 400;
  color: #e8e8e8;
  margin-top: 5%;
}

.grandfirst {
  width: 100%;
  background-image: url("../images/bg3.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 10% 0% 5% 15%;
}

.grandfirst__spain {
  width: 48%;
  background-color: #2e2d2ddc;
  padding: 4% 2%;
}

.grandfirst__spain span {
  font-family: 'Josefin Sans', sans-serif;
  font-size: 20px;
  font-weight: 400;
  color: #e8e8e8;
}

.grandfirst__spain h3 {
  font-family: 'Josefin Sans', sans-serif;
  font-size: 20px;
  font-weight: 400;
  text-transform: uppercase;
  color: #ffffff;
  margin: 5% 0;
}

.grandfirst__spain p {
  font-family: 'Josefin Sans', sans-serif;
  font-size: 16px;
  line-height: 1.5;
  font-weight: 400;
  color: #e8e8e8;
}

.grandfirst__spain a {
  width: 37%;
  background-image: url("../images/button_bg.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-decoration: none;
  font-family: 'Aleo', serif;
  font-size: 16px;
  font-weight: 400;
  text-transform: uppercase;
  color: #ffffff;
  margin-top: 8%;
  padding: 3% 4%;
}

.grandsecond {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-image: url("../images/bg4.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 10% 10% 5% 0;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.grandsecond__spain {
  width: 48%;
  background-color: #2e2d2ddc;
  padding: 4% 2%;
}

.grandsecond__spain span {
  font-family: 'Josefin Sans', sans-serif;
  font-size: 20px;
  font-weight: 400;
  color: #e8e8e8;
}

.grandsecond__spain h3 {
  font-family: 'Josefin Sans', sans-serif;
  font-size: 20px;
  font-weight: 400;
  text-transform: uppercase;
  color: #ffffff;
  margin: 5% 0;
}

.grandsecond__spain p {
  font-family: 'Josefin Sans', sans-serif;
  font-size: 16px;
  line-height: 1.5;
  font-weight: 400;
  color: #e8e8e8;
}

.grandsecond__spain a {
  width: 37%;
  background-image: url("../images/button_bg.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-decoration: none;
  font-family: 'Aleo', serif;
  font-size: 16px;
  font-weight: 400;
  text-transform: uppercase;
  color: #ffffff;
  margin-top: 8%;
  padding: 3% 4%;
}

.what {
  width: 100%;
  background-image: url("../images/bg5.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 5% 0 10% 0%;
}

.what h2 {
  font-family: 'Aleo', serif;
  font-size: 36px;
  font-weight: 400;
  text-align: center;
  color: #ffffff;
}

.what__sam {
  width: 74%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  background-color: #333333;
  margin: 5% auto 0 auto;
}

.what__sam img {
  width: 40%;
  height: 30%;
}

.what__sam_sumon {
  width: 60%;
  padding: 3% 6%;
}

.what__sam_sumon h3 {
  font-family: 'Josefin Sans', sans-serif;
  font-size: 20px;
  font-weight: 400;
  text-transform: uppercase;
  color: #fefefe;
}

.what__sam_sumon p {
  font-family: 'Josefin Sans', sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  color: #e8e8e8;
}

.what__sam_sumon span {
  color: #5474fd;
  font-family: 'Times New Roman', Times, serif;
  font-size: 30px;
}

.footer {
  width: 100%;
  background-color: #232323;
  text-align: center;
  padding: 6% 0 3% 0;
}

.footer h5 {
  font-family: 'Josefin Sans', sans-serif;
  font-size: 24px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 2px;
  color: #ffffff;
  margin-bottom: 0.5%;
}

.footer span {
  font-family: 'Josefin Sans', sans-serif;
  font-size: 16px;
  font-weight: 300;
  letter-spacing: 1px;
  color: #ffffff;
}

.footer__contact {
  width: 12%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 2% auto;
}

.footer__contact object {
  pointer-events: none;
}

@media (min-width: 1970px) and (max-width: 2560px) {
  .main .bhromaon h1 {
    font-size: 55px;
  }
  .main .bhromaon form {
    margin: 3% 0 7% 37%;
  }
  .main .bhromaon span {
    font-size: 20px;
  }
  .why__photo img {
    width: 85%;
  }
}

@media (min-width: 804px) and (max-width: 1024px) {
  .main .bhromaon form {
    margin: 3% 0 7% 20%;
  }
  .why__photo {
    margin-top: 5%;
  }
  .why__photo img {
    width: 85%;
  }
  .information {
    padding-bottom: 3%;
  }
  .grandfirst__spain a {
    width: 65%;
    padding: 5%;
  }
  .grandsecond__spain a {
    width: 65%;
    padding: 5%;
  }
  .why__choose a {
    width: 65%;
  }
}

@media (min-width: 700px) and (max-width: 768px) {
  .main .bhromaon form {
    margin: 3% 0 7% 10%;
  }
  .information {
    padding-bottom: 3%;
  }
  .information h2 {
    margin-top: 4%;
  }
  .why__photo {
    width: 40%;
    margin-top: 10%;
  }
  img {
    width: 85%;
  }
  .grandfirst__spain a {
    width: 65%;
    padding: 5%;
  }
  .grandsecond__spain a {
    width: 65%;
    padding: 5%;
  }
  .why__choose a {
    width: 65%;
  }
}

@media (min-width: 414px) and (max-width: 425px) {
  .main .bhromaon h1 {
    font-size: 35px;
    margin-top: 5%;
  }
  .main .bhromaon h4 {
    font-size: 20px;
    margin-top: 2%;
  }
  .main .bhromaon form {
    display: block;
    margin: 8% 0 7% 15%;
  }
  .main .bhromaon form button {
    margin: 5% 0 0% 60%;
  }
  .main .bhromaon form input {
    padding: 8px 30px;
  }
  .main .bhromaon span {
    font-size: 15px;
  }
  .information h2 {
    margin-top: 4%;
  }
  .information {
    padding: 3% 8% 6% 8%;
  }
  .information h2 {
    font-size: 15px;
  }
  .why {
    display: inline-block;
  }
  .why__choose {
    width: 90%;
  }
  .why__choose a {
    width: 100%;
  }
  .why__photo {
    width: 80%;
    margin-top: 11%;
  }
  .why__photo_second {
    margin-top: 10%;
  }
  .grandfirst__spain {
    width: 90%;
    margin-bottom: 10%;
    padding: 5%;
  }
  .grandfirst__spain a {
    width: 100%;
  }
  .grandsecond__spain {
    width: 90%;
    margin-bottom: 10%;
    padding: 5%;
  }
  .grandsecond__spain a {
    width: 100%;
  }
  .what__sam {
    width: 80%;
    display: inline-block;
    margin-left: 10%;
  }
  .what__sam img {
    width: 100%;
  }
  .what__sam_sumon {
    width: 100%;
  }
  .footer__contact {
    width: 40%;
  }
}

@media (min-width: 375px) and (max-width: 400px) {
  .main .bhromaon {
    padding-left: 15%;
  }
  .main .bhromaon h1 {
    font-size: 30px;
    margin-top: 5%;
  }
  .main .bhromaon h4 {
    font-size: 15px;
    margin-top: 2%;
  }
  .main .bhromaon form {
    display: block;
    margin: 8% 0 7% 0%;
  }
  .main .bhromaon form button {
    margin: 5% 0 0% 65%;
  }
  .main .bhromaon form input {
    padding: 8px 30px;
  }
  .main .bhromaon span {
    font-size: 15px;
  }
  .information {
    padding: 3% 15% 6% 15%;
  }
  .information h2 {
    font-size: 15px;
    margin-top: 4%;
  }
  .why {
    display: inline-block;
    padding-left: 20%;
  }
  .why__choose {
    width: 90%;
  }
  .why__choose a {
    width: 100%;
  }
  .why__photo {
    width: 80%;
    margin-top: 11%;
  }
  .why__photo_second {
    margin-top: 10%;
  }
  .grandfirst__spain {
    width: 90%;
    margin-bottom: 10%;
    padding: 5%;
  }
  .grandfirst__spain a {
    width: 100%;
  }
  .grandsecond {
    padding-left: 8%;
  }
  .grandsecond__spain {
    width: 90%;
    margin-bottom: 10%;
    padding: 5%;
  }
  .grandsecond__spain a {
    width: 100%;
  }
  .what {
    padding-left: 8%;
  }
  .what h2 {
    font-size: 25px;
  }
  .what__sam {
    width: 80%;
    display: inline-block;
    margin-left: 10%;
  }
  .what__sam img {
    width: 100%;
  }
  .what__sam_sumon {
    width: 100%;
  }
  .footer {
    padding-left: 10%;
  }
  .footer__contact {
    width: 40%;
  }
}
/*# sourceMappingURL=style.css.map */